
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>


<div class="row">
  <div class="twelve columns">
      <h1><object data="../assets/bike.svg" type="image/svg+xml"></object> <%= link_to 'Bike On', root_url %> <small>Trip Detail</small> </h1>
      <hr>

      <div class="row">
        <div class="large-5 columns">

            <table>

            <tr><td>Date</td><td> <%= page_time(@ride["createdAt"]) %> </td></tr>
            <tr><td>Duration</td><td> <%= (@ride["duration"]/60).round(2)%> min</td></tr>

            <tr><td>Altitude Gained</td><td> <%= meters_to_feet(@ride["altitudeGained"]) %> ft</td></tr>
            <tr><td>Average Speed</td><td> <%= meters_to_miles(@ride["averageSpeed"]) %> mph</td></tr>
            <tr><td>Max Speed</td><td> <%= meters_to_miles(@ride["maxSpeed"]) %> mph</td></tr>
            <tr><td>Distance</td><td> <%= meters_to_miles(@ride["distance"]) %> mi</td></tr>
            </table>



        </div>
        <div class="large-7 columns">

          <div id="map"></div>

        </div>
      </div>
        <h3>
        <small>Speed</small>
          <div id="speed" style="height: 250px;"></div>

        <small>Altitude</small>
          <div id="altitude" style="height: 250px;"></div>
        </h3>
        <hr>
        <blockquote id="pageQuote">Life is like riding a bicycle. To keep your balance you must keep moving.<cite>Albert Einstein</cite></blockquote>


  </div>
</div>



<script>


    var map = L.map('map').setView([37.751034, -122.416925], 13);

    L.tileLayer('http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png', {
    }).addTo(map);

       var latlngs = <%= @leaflet_data %>;
   var polyline = L.polyline(latlngs, {color: 'red'}).addTo(map);
   map.fitBounds(polyline.getBounds());


</script>

<script>
new Morris.Area({
  element: 'speed',
  data:<%= @morris_data[1..-1].to_json.html_safe %>,
  xkey: ['time'],
  ykeys: ['speed'],
  labels: ['Speed'],
  pointSize: "0",
  yLabelFormat: function (y) { return y.toString() + 'mph'; },
  hideHover: 'auto'
});

new Morris.Area({
  element: 'altitude',
  data:<%= @morris_data[1..-1].to_json.html_safe %>,
  xkey: ['time'],
  ykeys: ['altitude'],
  labels: ['Altitude'],
  pointSize: "0",
  lineColors: ['#da7000'],
  yLabelFormat: function (y) { return y.toString() + 'ft' },
  hideHover: 'auto'
});


</script>